.button {
  padding: 8px 16px;
  color: #fff;
  background-color: #f05123;
  text-decoration: none;
}

.button:hover,
.button:focus {
  background-color: rgba(240, 81, 35, 0.8);
  outline: 2px solid #fff;
}
